body{
    background-image: url('asset/space.jpg');
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    padding:30px 40px ;
    border-radius: 25px;
    color: #fff;
}
.box__logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo{
    width: 200px;
}
.box .box__input{
    position: relative;
    width: 100%;
    height: 50px; 
    margin: 30px 0px;
}
.box__input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.box__input input::placeholder{
    color: #fff;
}
.box__input i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.box .box__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.box__info a {
    color: #fff;
    text-decoration: none;
}
.box__info a:hover {
    text-decoration: underline;
}
.box__info label input{
    accent-color: #fff;
    margin-right: 3px;
}
.box button{
    width: 100%;
    border: none;
    outline: none;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
    cursor: pointer;
}
.box .box__inscription{
    text-align: center;
}
.box__inscription a {
    color: #fff;
    text-decoration: none;
}
.box__inscription a:hover {
    text-decoration: underline;
}
.blob{
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(180deg, #68d39f 31.77%, #2c68b4 100%) ;
    border-radius:58% 42% 46% 54% / 39% 83% 17% 61%  ;
    transform: translate(-100px, -50px) rotate(90deg);
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animeBlob 20s infinite alternate;
}

.blob:hover{
    width: 520px;
    height: 520px;
    filter: blur(30px);
    box-shadow: 
    inset 0 0 5px #AA63A0,
    inset 100px 0 0 #8167BA,
    inset 200px 0 0 #5D6BC5,
    inset 300px 0 0 #8CA3D8;
}
@keyframes animeBlob {
    100%{
        transform: translate(300px, 50px) rotate(-10deg);
        border-radius:22% 78% 25% 75% / 64% 57% 43% 36%  ;
    }
}